#panel{
    max-width: 800px;
    margin: 0 auto;
}

.docker_part {
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;

    margin: 20px auto;
    padding: 10px;
}
#title {
    text-align: center;
}
#server_ip{
    text-align: center;
}

#add-btn,
#apply-btn{
    margin-left: 10px;
}